/*  margin -> Arriba: 20, izquierda: auto, abajo: 0, derecha: auto */
.container{
    width: 80%;
    margin: 20px auto 0 auto; 
    display: flex;
}

.izquierda{
    width: 40%;
}

.derecha{
    width: 60%;
}